* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #2b098a;
    color: rgb(255, 255, 255);
}

/* NAV */
header {
    background: #020617;
    padding: 15px 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    color: rgb(39, 140, 255);
    text-decoration: none;
    position: relative;
}

nav a::after {
    content: "";
    width: 0;
    height: 2px;
    background: rgb(71, 233, 233);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

nav a:hover::after {
    width: 100%;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: url('IMG/informatica.jpg') no-repeat center center;
    background-size: cover;
}

/* CONTENIDO */
.contenido {
    padding: 40px;
    max-width: 1000px;
    margin: auto;
}

.contenido h2 {
    margin: 20px 0;
}

/* GRID */
.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* CARDS */
.card {
    flex: 1 1 250px;
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    background: #7da7f0;
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

form input, form textarea {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    background: cyan;
    border: none;
    padding: 10px;
    cursor: pointer;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #1a3cd6;
    margin-top: 30px;
}